
<section id="education" class="education">
  <div class="section-wrapper">
    <h3 class="section-name">Education</h3>
    <div class="content-wrapper">{% for school in site.data.resume-info.schools %}
      <div class="col-wrapper">
        <div class="col-1">
          <h4 class="school-name">{{ school.name }}<img src="assets/img/{{ school.avatar }}" alt="" class="logo"></h4>
          <h5 class="major">
            {{ school.major }}
            {% if school.minor %}
            <p class="minor">Minor in : {{school.minor}}</p>{% endif %}
          </h5>
        </div>
        <div class="col-1">
          <h4 class="date">{{ school.date }}</h4>
          <h5 class="city">{{school.city }}</h5>
        </div>
      </div>
      <div class="line-between"></div>{% endfor %}
    </div>
  </div>
</section>