
<section id="projects" class="projects">
  <div class="section-wrapper">
    <h3 class="section-name">Projects</h3>
    <div class="content-wrapper">{% for project in site.data.resume-info.projects %}
      <div class="col-wrapper">
        <div class="col-1"><a href="{{project.link}}" class="project-name">{{ project.name }}</a>
        </div>
        <h4 class="date">{{ project.date }} </h4>
      </div>
      <div class="description-wrapper">
        <p class="description">{{ project.description }}</p><a href="{{project.link}}"><img src="assets/img/{{project.landingimage}}" alt="{{project.link}} landing page"></a>
      </div>{% endfor %}
    </div>
  </div>
</section>