section.about#about
    .section-wrapper
      | {% for about in site.data.resume-info.about %}
      | {% if about.avatar %}
      img.logo(src="assets/img/{{about.avatar}}", alt="{{about.avatar}} profile")
      | {%else %}
      h1.logo
      | {% endif %}
      h1.name {{site.name}}
      p.about-me {{about.about-me}}
      | {% endfor %}
