section.projects#projects
  .section-wrapper
    h3.section-name Projects
    .content-wrapper
      | {% for project in site.data.resume-info.projects %}
      .col-wrapper
        .col-1
          a.project-name(href="{{project.link}}") {{ project.name }}
          //- | {%if project.avatar %}
          //- .logo {{ project.avatar }}
          //- | {%else %}
          //- img(src="assets/img/{{project.logo }}", alt="{{project.link}} page logo").logo
          //- | {% endif %}
        h4.date {{ project.date }} 
      .description-wrapper
        p.description {{ project.description }}
        a(href="{{project.link}}")
          img(src="assets/img/{{project.landingimage}}", alt="{{project.link}} landing page")
      | {% endfor %}
